.about {
    margin: 0;
    padding: 0;
    height: calc(100vh - 50px);
}

.aboutTitle {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.aboutContainer {
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    height: 70vh;
    border: 1px solid black;
    border-radius: 20px;
    /* box-shadow: 5px 10px; */
    position: relative;
    background: white;
}


.aboutContainer:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #222 0%, #59b256 100% );
    transform: translate3d(0px, 20px, 0) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context.
*/
.aboutContainer::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
        

.aboutLeft {
    flex: 1;
    /* border: 1px solid red; */
}

.aboutRight {
    flex: 1;
    /* border: 1px solid red; */
    justify-content: start;
}

.aboutImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}

.aboutDesc {
    margin: 10px;
    padding: 10px;
}

.aboutHighlights {
    margin: 10px;
    padding: 10px;
}

.aboutButtons {
    margin: 10px;
    padding: 10px;
}